/* .modalFixedBg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    background-color: rgba(0,0,0,.6);
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.dropdown{
    right: 50%;
    position: absolute;
    width: 240px;
    background: #fff;
    transform: translateX(50%);
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
    border-radius: 2px;
    z-index: 1;
    margin-top: 12px;
    display: none;
  }